
/*-------------------------------------
---------------------------------------
	Form Page
---------------------------------------
-------------------------------------*/

#loginWrapper {
	display: block;
	padding-top: 100px;
	margin-bottom: 120px;
}

#loginWrapper> form> input {
	width: 300px;
	font-size: 15px;
}

#loginWrapper>form>input[type=text]::-webkit-input-placeholder,
#loginWrapper>form>input[type=password]::-webkit-input-placeholder,
#loginWrapper>form>input[type=email]::-webkit-input-placeholder {
	color: #fff;
}


#loginWrapper>h1 {
	margin-bottom: 20px;
	font-size: 28px;
}

#loginWrapper>form>input[type=text],
#loginWrapper>form>input[type=password],
#loginWrapper>form>input[type=email]
 {
	margin: 6px 0;
	border-radius: 2px;
	border: none;
	padding: 20px 15px;
	background: #BD4233;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	outline: none;
	color: #fff;
}


#loginWrapper>form>input[type=text]:focus,
#loginWrapper>form>input[type=password]:focus,
#loginWrapper>form>input[type=email]:focus {
		box-shadow: 0 0 3px 2px rgba(255, 255, 255, 0.2);
		outline: none;
}

#loginWrapper input[type=submit] {
	display: block;
	margin: 0 auto;
	font-size: 20px;
}

#loginWrapper>p {
	margin-top: 10px;
}

/*-------------------------------------
---------------------------------------
	Links
---------------------------------------
-------------------------------------*/
#loginWrapper a {
	text-decoration: none;
	color: #5ad9fc;
}

#loginWrapper a:hover {
	pointer: cursor;
	padding-bottom: 2px;
	text-shadow: 0 0 3px #fff;
	color: #fff;
}
