
/*-------------------------------------
---------------------------------------
 Send Page
---------------------------------------
-------------------------------------*/
#profileSend {
	display: block;
	padding-bottom: 20px;
	margin-bottom: 120px;
}

#profileSend>h1 {
	margin: 20px 0 25px 0;
	font-size: 28px;
}
/*-------------------------------------
---------------------------------------
	Buttons
---------------------------------------
-------------------------------------*/

input[type="checkbox"] {
	margin: 10px 0;
}

#profileSend .btn {
	width: 150px
}

