<head>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>
</head>
<template name="loginPage">
	<div id="loginWrapper">
		<h1> Login </h1>
	 	<form name="login">
	 		<input type="email" name="email" placeholder="Email" required> <br>
	 		<input type="password" name="password" placeholder="Password" required> 
	 		<br> <br>
	 		<input id="loginBtn" type="submit" name="login" value="Login" class="btn"> 
	 		<br>
	 		<p> <a href="/"> Sign Up for an account</a> </p>
	 	</form>
 	</div>
</template>